* {
    box-sizing: border-box;
    margin: 0px;
}
#page-title{
    text-align: center;
}

#first-title{
    background-color: #d59898;
}
#second-title{
    background-color: #c14543;
}

#third-title{
    background-color: #e5d198;
}
.row{
    margin: 15px;
}
.content{
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: gray;
    border: 2px solid black;
}
.explain{
    margin-top: 15px;
}
div>.title{
    position: relative;
    width: 30%;
    top: 0px;
    left: 70%;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.grid{
    float: left;
    padding: 10px;
}

@media (min-width:992px) {
    .col-lg-4{
        width: 33.33%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media (max-width:767px) {}